.container {
    display: flex;
    background-color: #fff;
    flex-flow: column;

  }


.first-page {
    background-image: url("./images/Image1.jpg");
    position: relative;
    height: 1130px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;

 }

 .parallax {

    position: absolute;
    top: 50%;
    left: 35%;
    width: 35%;
    height: 11%;   
    
    background-color: black; 
    
    
    
    
    
  }

  .parallax p {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 18px;
    color: white;
    text-align: center;  
    padding-bottom: 60px;
    padding-top: 0px;
   
    


  }


.section_1 {
   
    background-color: #fff;
    margin: 50px auto;
}

.section_1 h1 {
  text-align: center;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.section_1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 10px 130px;
  line-height: 50px;
  

}

.second_image {
  background-image: url("./images/Image2.jpg");
  position: relative;
  width: 2500px;
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;


}

.section2_back {

  background-color: #fff;
  margin: 0px auto;
  Background-color: rgb(0, 0, 0);
  padding: 10px 40px;
  line-height: 50px;
  
}

.text_two {

    margin: 20%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 18px;
    color: white;
    text-align: center;
    
    
    
    

}

.section_2 {
  background-image: url("./images/Image3.jpg");
  display: relative;
  width: 2500px;
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;
}
  
#img3_txt {

  display: absolute;
  color: #fff;
  margin: 400px;
  font-weight: lighter;
  letter-spacing: 15px;
  font-family: Arial, Helvetica, sans-serif;
  

}

.section_2 h1 {
  display: absolute;
  text-align: center;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.section2_back p {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 10px 130px;
  line-height: 50px;
}



.section2_back h1 {
  color: #fff;
  display: relative;
  top: 50%;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.text_three {

  Background-color: rgb(0, 10, 10);
  color: white;
  margin-top: 0px;
  margin-right: -9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 50px 130px;
  line-height: 50px;

}

.image3 {
  background-image: url("./images/Image1.jpg");
  position: relative;
  width: 2500px;
  height: 1130px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;

}

.image3 h1 {
  Background-color: rgb(0, 10, 10);
  position: absolute;
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 20px;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  left: 24%;
  top: 50%;
  

}